.drinks {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
background-color: #85144b;
margin-left: 50pt;
margin-right: 50pt;
}

.image {
    width: 180px;
}

.drink-name {
    color: #FF851B;
}

.cocktail-card{
    height: 200pt;
    width: 150pt;
    border: solid black 1pt;
    border-radius: 10pt;
    margin-top: 25pt;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.cocktail-card__detailed {
    height: 600pt;
    width: 440pt;
    border: solid black 1pt;
    border-radius: 10pt;
    margin-top: 25pt;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: azure;
}

.desc-title{
    color: black;
    width: 70%;
}

.desc-text{
    color: grey;
}

.image-glass{
    grid-column-start: 1;
    grid-row-start: 10;
    width:30%;
    
}

.form{
    display:flex;
    justify-content: space-around;
}

cocktail-list{
    display:flex;
    flex-direction: row;
}   

