.navegator {
    background-color: #85144b;
    width:100%;
    height: auto;
    grid-column-start: 1;
    grid-row-start: 3;
  
    display:grid;
    grid-template-columns: [first col] 90%;
    grid-template-rows: 
    [row1] 5% 
    [row2] 5% 
    [row3] 5% 
    [row4] 5%
    [row5] 5%
    [row6] 5%
    [row7] 5%
    [row8] 5%
    [row9] 5%
    [row10] 5%
    [row11] 5%
    [row12] 5%
    [row13] 5%
    [row14] 5%
    [row15] 5%
    [row16] 5%;
    justify-content: center;
  }

.button-zero{
    grid-column-start: 1;
    grid-row-start: 2;
}

.button-one {

    grid-column-start: 1;
    grid-row-start: 3;
    width:100%;
}

.button-two {
    grid-column-start: 1;
    grid-row-start: 4;
}

.button-three {
    grid-column-start: 1;
    grid-row-start: 5;
}

.button-four {
    grid-column-start: 1;
    grid-row-start: 6;
}

.button-five {
    grid-column-start: 1;
    grid-row-start: 13;
}

.button-six {
    grid-column-start: 1;
    grid-row-start: 14;
}

.button-seven {
    grid-column-start: 1;
    grid-row-start: 15;
}

.btn-width {
    width:100%
}

