


.App {
  text-align: center;
  display: grid;
  height: 1000px;
  grid-template-columns: [first col] 20%  [second col] 80% ;
  grid-template-rows: [row one] 5% [row two] 5% [row three] 100%  ;
  
}

.header{
  background-color: #85144b;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  grid-column-start: 1;
  grid-column-end: 3;
  color: #FF851B;
}



.main {
  background-color: #85144b;
  width:100%;
  height: auto;
  border-left: solid white;
  grid-column-start: 2;
  grid-row-start: 3;
  align-items: center;
  justify-content: space-around;


}

